.position-card {
  height: 100%;
  padding: 0;
}

.position-card .metrics,
.inventory-card .metrics {
  font-size: 12px;
  width: 100%;
}

.position-card .metrics {
  border-top: 1px solid rgba(0,0,0,.125);
}

.inventory-card .metrics {
  border-top: 1px solid white;
}

.position-card .metrics:first-child {
  border-top: none;
}

.metrics .metrics-name {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.metrics .metrics-value {
  text-align: right;
}

.position-card input[name="trade"],
.inventory-card input[name="trade"] {
  width: 100%;
}
